@import 'mixins';

/* =Layout
----------------------------------------------- */
.shell {
    width: 90%;
	max-width: 1200px;
	margin: 0 auto;
    
    @include respond-to(tablet) {
        width: 98%;
    }
    
    @include respond-to(mobile) {
        width: 100%;
    }
}

#primary {
    margin-right: 34%;
    padding-left: 150px;
    
    @include respond-to(wide-mobile) {
        padding-left: 0;
        margin-right: 45%;
    }
    
    @include respond-to(thin-mobile) {
        padding: 0;
        margin: 0;
    }
}

#secondary {
    //float: left;
    position: absolute;
    top: 50px;
    width: 150px;
    
    @include respond-to(mobile) {
        display: none;
    }
}

#tertiary {
	//margin: 0 0 0 -33%;
    //float: right;
    width: 32%;
    position: absolute;
    top: 50px;
    right: 4.5%;

    @include respond-to(tablet) {
        right: 1%;
    }
    
    @include respond-to(wide-mobile) {
        margin: 0 0 0 -45%;
        width: 45%;
        right: 0;
    }
    
    @include respond-to(thin-mobile) {
        margin: 0;
        width: 100%;
        position: static;
    }
}

#main .widget-area {
	overflow: hidden;
	padding: 20px 0 0;
    
    @include respond-to(thin-mobile) {
        .widget > *:not(.widget-title) {
            margin-right: 5px;
            margin-left: 5px;
        }
    }
}

.clear,
.site-footer {
	clear: both;
	width: 100%;
}

.site-info {
	border-top: 1px solid #CCC;
	padding: 10px 0;
	margin-left: 150px;
	font-size: 11px;
	color:#AAA;
    
    @include respond-to(thin-mobile) {
        margin-left: 0;
        padding-left: 5px;
    }
}

/* = The Grid 
----------------------------------------------- */
.row {
	position: relative;
	overflow: hidden;
	clear: both;
}

.row .half {
	width: 50%;
	float: left;
}
