@import 'mixins';

/* =Layout
----------------------------------------------- */
.shell {
    width: 90%;
	max-width: 1200px;
	margin: 0 auto;
    
    @include respond-to(tablet) {
        width: 98%;
    }
    
    @include respond-to(mobile) {
        width: 100%;
    }
}

#primary {
    margin-left: 150px;
    margin-right: 34%;
    float: left;
    
    @include respond-to(wide-mobile) {
        margin-left: 0;
        margin-right: 45%;
    }
    
    @include respond-to(thin-mobile) {
        margin: 0;
    }
}

#secondary {
	margin: 0 0 0 -100%;
    width: 150px;
    float: left;
    
    @include respond-to(mobile) {
        display: none;
    }
}

#tertiary {
	margin: 0 0 0 -34%;
    width: 33%;
    float: left;
    
    @include respond-to(wide-mobile) {
        margin: 0 0 0 -45%;
        width: 44%;
    }
    
    @include respond-to(thin-mobile) {
        margin: 0;
        width: 100%;
    }
}


#main .widget-area {
	overflow: hidden;
	padding: 20px 0 0;
    
    @include respond-to(thin-mobile) {
        .widget > *:not(.widget-title) {
            margin-right: 5px;
            margin-left: 5px;
        }
    }
}

.clear,
.site-footer {
	clear: both;
	width: 100%;
}

.site-info {
	border-top: 1px solid #CCC;
	padding: 10px 0;
	margin-left: 150px;
	font-size: 11px;
	color:#AAA;
    
    @include respond-to(thin-mobile) {
        margin-left: 0;
        padding-left: 5px;
    }
}

/* = The Grid 
----------------------------------------------- */
.row {
	position: relative;
	overflow: hidden;
	clear: both;
}

.row .half {
	width: 50%;
	float: left;
}
