@import 'mixins';

/* =Layout
----------------------------------------------- */


.shell {
    width: 90%;
	max-width: 1200px;
	margin: 0 auto;
    
    @include respond-to(tablet) {
        width: 98%;
    }
    
    @include respond-to(mobile) {
        width: 100%;
    }
}

.main-column-wrap{
	float:left;
    position:relative;
    width:100%;
    height:1%;
}


#secondary {
    position:absolute;
    width: 150px;
    top:0;
    left:0;
    border-right: 1px solid $gray;
    background:#FFF;
    z-index:100;
    @include respond-to(mobile) {
    	position:relative;
    	width:100%;
    	border-bottom:1px solid $gray;
    	border-right: none;
    	display:none;
    }    
}

#primary {
	margin-left:150px;
    background:#FFF;
    position:relative;
    overflow:hidden;
    border-left:1px solid $gray;
    border-right:1px solid $gray;
    @include respond-to(mobile) {
        margin-left:0;
    }

    
    @include respond-to(thin-mobile) {
        
    }
}
#primary #content{
	float:left;
	width:60%;
	@include respond-to(mobile) {
      	width:55%;
    }
    @include respond-to(thin-mobile) {
        width:100%;
    }
}

#tertiary {
    width: 40%;
    float:left;
    
    @include respond-to(mobile) {
        width: 45%;
    }
    
    @include respond-to(thin-mobile) {
        width: 100%;
        position: static;
    }
}

#main .widget-area {
	overflow: hidden;
    margin-top: 5px;
    @include respond-to(mobile){
    	margin-top:0;
    }
    @include respond-to(thin-mobile) {
        .widget > *:not(.widget-title) {
            margin-right: 5px;
            margin-left: 5px;
        }
    }
}

.clear,
.site-footer {
	clear: both;
	width: 100%;
}

.site-info {
	border-top: 1px solid $gray;
	margin-left: 150px;
	font-size: 11px;
	color:#AAA;
	padding: {
        top: 10px;
        bottom: 10px;
        left: 3px;
    }
    
    @include respond-to(mobile) {
        margin-left: 0;
        padding-left: 10px;
    }
}

/* = The Grid 
----------------------------------------------- */
.row {
	position: relative;
	overflow: hidden;
	clear: both;
}

.row .half {
	width: 50%;
	float: left;
}
